<!DOCTYPE html>
<html>
<head>
<title>OnePost</title>


<link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all">
<link href="//fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&amp;subset=cyrillic,cyrillic-ext,latin-ext,vietnamese" rel="stylesheet">
</head>
<body>
<div class="form">
<h1>OnePost Signup</h1>
	<div class="form-content">
		<form action="" method="post">
			<div class="form-info">
			</div>
			<div class="name">
				<label>Username</label> 
				<input class="input1" type="text" name="username" placeholder="username" required="">
			</div>
			<div class="pass1">
				<label>Password</label>
				<input class="input1" type="password" name="password" placeholder="**********" required="">
			</div>
			<div class="signup">
				<input type="submit" value="SIGN UP">
			</div>

		</form>
				<font color="white">Have an account?&nbsp;</font> 
		<a href="/accounts/login/" style="text-decoration: none; color: white; font-weight: bold;">
			Log in
		</a>
	</div>
</div>
<footer>&copy; 2018 Package signup form. All rights reserved | Design by <a href="#">OnePost</a></footer>
</body>
</html>
