<!DOCTYPE html>
<html>
<head>
<title>OnePost</title>


<link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all">
<link href="//fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&amp;subset=cyrillic,cyrillic-ext,latin-ext,vietnamese" rel="stylesheet">
</head>
<body>
<div class="form">
<h1>Tumblr Verifier</h1>
	<div class="form-content">
		<form action="" method="post">
			<p style=" color: white;font-weight: bold;"> Please copy the following verifier to the previous page:</p>
			<p>&nbsp;</p>
			<p style=" color: white;">{{verifier}}</p>
		</form>
	</div>
</div>
<footer>&copy; 2018 authentication form. All rights reserved | Design by <a href="/">OnePost</a>|<a href="/accounts/logout">Logout</a></footer>
</body>
</html>

<!-- 
			<!DOCTYPE html>
<html>
<head>
<title>OnePost</title>
<meta charset="UTF-8">
</head>
<body>


<p> Please copy the following verifier to the previous page:</p>
<p>{{verifier}}</p>
</body>
</html>
</body>
</html>
 -->