<!DOCTYPE html>
<html>
<head>
<title>OnePost</title>


<link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all">
<link href="//fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&amp;subset=cyrillic,cyrillic-ext,latin-ext,vietnamese" rel="stylesheet">
</head>
<body>
<div class="form">
<h1>Twitter Authentication</h1>
	<div class="form-content">
		<form action="" method="post">
			<div class="form-info">
			</div>
			<div class="name">
				<label><a href="{{ twitterAuth}}" style=" color: white;" target="_blank"> Get Pincode </a></label> 
				<input class="input1" type="text" name="pincode" placeholder="pincode" required="">
			</div>
			    <input type="hidden" name="OauthToken" value="{{OauthToken}}">
    			<input type="hidden" name="tokenSecret" value="{{tokenSecret}}">
			<div class="signup">
				<input type="submit" value="UPDATE">
			</div>

		</form>
	</div>
</div>
<footer>&copy; 2018 authentication form. All rights reserved | Design by <a href="/">OnePost</a>|<a href="/accounts/logout">Logout</a></footer>
</body>
</html>




<!-- <p> Twitter authentication</p>
	<a href="{{ twitterAuth}}" style=" color: black;" target="_blank"> Get Token </a>
  <FORM action='/twitter/setting'
       method="post">
   <P>
   Pincode <input type="text" name="pincode">
    <input type="hidden" name="OauthToken" value="{{OauthToken}}">
    <input type="hidden" name="tokenSecret" value="{{tokenSecret}}">
   <input type="submit" value="Submit">
 </FORM>

<div id="status">
</body>
</html>
</body>
</html> -->
